@model StudentPortal.Models.Course


@{
    ViewBag.Title = "Add Grades";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string studentId = null;
    if (ViewBag.StudentId != null)
    {
        studentId = ViewBag.StudentId.ToString();
    }
}



<h2>Add Grades</h2>

@using (Html.BeginForm("AddGrades", "Students", new { courseId = Model.Id, studentId = studentId }, FormMethod.Post, new { @class = "aa-login-form" }))
{
    @Html.AntiForgeryToken()
    <label for="">First Semester<span></span></label>
    <input type="number" min="1" max="10" step=".01" name="First" required>
    <label for="">Second Semester<span></span></label>
    <input type="number" min="1" max="10" step=".01" name="Second" required>
    <button type="submit" class="aa-browse-btn">Add</button>
}

</table>

